
/* BODY */
body{
  background-color:black;
}

.internal
{
  margin-top: 2px;
  display: flex;
}
.rightinternal
{
  margin: 2px;
  width: 60%;
}

                    /* FEEDBACK */

                    #description
                    {
                      color:white;
                      position: -webkit-sticky;
                      position: sticky;
                      top: 0;
                      text-align: center;
                      background-color: rgb(99, 78, 78);
                      border-radius: 10px;
                      margin-top:20px;
                      padding: 3px;
                    }


                    #feedback
                    {
                  
                      height: 100vh; 
                      overflow-y: scroll; 
                      margin-top:10px;
                      background-color:rgb(210, 205, 210);
                      border-radius: 5px;
                      
                    }
                    /* .feedbackbody
                    {
                      margin-left: 10%;
                      border-radius: 10px;

                      margin-top:20px;
                      width: 80%;
                      background-color:rgb(143, 107, 107);
                    }
                    .feedbackprofile
                    {
                      margin-top: 10px;
                      margin-left: 20px;
                      color: black;
                      align-items: center;
                      display: flex;
                    }
                    .feedbackprofile img{
                      height: 40px;
                      width: 40px;
                      border-radius: 50%;
                      
                    }
                    .feedbackprofile h4
                    {
                      margin-left: 5px;
                    }
                    .actualfeedback p
                    {
                      margin-top: 10px;
                      margin-left: 20px;
                    }
                    .replytop
                    {
                      display: inline-flex;
                      margin-left: 20px;
                      margin-top: 10px;
                      
                    }
                    .reply{
                      margin-left: 20px;
                    }
                    .replytop ul
                    {
                      display: flex;
                      padding-left: 5px;
                      list-style: none;
                    }
                    .replytop ul li
                    {
                      margin: 2px;
                      padding: 3px;
                      height: 10px;
                    }
                    #newComment,#newComment1
                    {
                      margin-top: 10px;
                      margin-left: 2%;
                      margin-right: 5%;
                      background-color:black;
                      color: white;
                      width: 90%;
                    }
                    #addComments,#addComments1
                    {

                      border-radius: 5px;
                      padding: 10px;
                      margin-left: 83.5%;
                    }
                    .replytop li:hover
                    {
                      color: white;
                    } */

                    /* RIGHT SIDE */


                    .leftinternal
                    { 
                      /* justify-content: space-around; */
                      width: 40%;
                    }

                    /* LISTITEMS */

                    a{
                      color: black;
                      text-decoration: none;
                    }
                    a:active
                    {
                      color: yellowgreen;
                    }
                    a:hover
                    {
                      color: red;
                      text-overflow: ellipsis;
                      text-decoration: underline;
                    }
                   .feedback1
                    {
                       padding: 10px;
                       align-items: center;
                    }
                    #fn
                    {
                      margin-left:10px ;
                    }




nav{
  box-sizing: border-box;
  display: flex;
  background-color: #333;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-weight: bold;
  
}
#leftnav li a,#leftnav li i{
  display: block;
  color: white !important;
  text-align: center;
  padding: 18px 20px;
  
  text-decoration: none;
  }
#rightnav li a{
    display: block;
    color: white !important;
    text-decoration: none;
    border: 2px solid white;
    padding: 18px 20px;
    
}
li a:hover,li i:hover
{
    background: linear-gradient(90deg, #d919c3, #fff, #151111);
    background-repeat: alternate repeat;
    background-size: 80%;
    animation: animate 2s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.267);
}
nav ul
{
  display: flex;
  list-style: none;
  
}
/* nav ul
{
  text-align: center;
  display: flex;
  background-color:rgb(143, 107, 107);
  margin-left: 10%;
  margin-right: 10%;
  
  border: 2px solid rgb(7, 6, 6);
  border-radius: 5px;
  list-style: none;
  position: relative;
}
.rightinternal nav ul li
{
  
  padding: 5px;
}
nav
{
  text-overflow: ellipsis;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#ownerprofile img
{
  margin-top: 20vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  border-radius: 30%;
  align-items: center;
  border: 2px solid orange;
}
#ownerprofile table
{
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: antiquewhite;
}
#ownerprofile table th,td{
  padding: 10px;
}


/* media query */

@media screen and (max-width: 768px)
{
  .leftinternal
  {
    width: 100%;
  }
  .rightinternal
  {
    width: 0%;
    overflow: hidden;
  }
}

@keyframes animate {
  0% {
    background-position: -100%;
  }
 
  100% {
    background-position: 800%;
  }
}

::-webkit-scrollbar{
  display: none;
}